@charset "utf-8";

.section_inner {
    padding: 50px 10% 30px;
}

.key {
    height: 500px;
    background: center / cover no-repeat url("../images/sample_key.jpg");
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
}

.key h1{
    font-size: 2.5rem;
}

.section_title {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    margin-bottom: 50px;
}

.menu_title {
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #42210b;
    border-bottom: solid #42210b 1px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.coffee_menu_image {
    width: 20%;
    border-radius: 50%;
}

.header_nav {
    background: rgba(0,0,0,.6);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;    
}

.global_nav_item {
    color: #fff;
    text-decoration: none;
    display: block;
    align-items: center;
    padding: 0 20px;
}

.global_nav_item:hover {
    background: #fff;
    color: #42210b;
}

.global_nav {
    display: flex;
    align-items: strethc;
}

.logo {
    width: 120px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 100%;
}

